.cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cart-container{
    margin-top: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.emptyCart{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  height: 60vh;
  width: 100vh;
  background-color: whitesmoke;
  color: palevioletred;
}
.emptyCart button{
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 8px;
  margin: 10px;
  margin-top: 30px;
  color: white;
  background-color: palevioletred;
  cursor: pointer;
}
.cartItem {
  width: 700px;
  height: auto;
  display: flex;
  align-items: center;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  margin: 30px;
  padding: 30px;
  gap: 20px;
}

.cartItem img {
  width: 40%;
  height: auto;
  border-radius: 10px;
}

.description {
  width: 100%;
  padding: 30px;
}

.countHandler input {
  width: 40px;
  text-align: center;
  font-weight: bolder;
}

.checkout button {
  width: 300px;
  height: 50px;
  border: none;
  border-radius: 8px;
  margin: 10px;
  margin-top: 30px;
  color: palevioletred;
  cursor: pointer;
}
.cart input{
  height: 30px;

}

.checkout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media (max-width: 768px) {

    .cart-container{
        padding: 20px;
    }
    .cartItem{
        flex-direction: column;
        margin: 20px;
        width: auto;
    }
    .description{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .cartItem img{
        width: 100%;
        height: auto;
    }
    .checkout button{
        background-color: palevioletred;
        color: white;
        margin-top: 10px;
    }
    .options {
      margin-top: 30px;
    }
}