.catalogue-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    padding: 20px;
}

.catalogue-container img{
  width: 100%;
  height: 50%;
    border-radius: 8px;
}
.cataIntro{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 60vh;
  margin: 30px 10px;
  background-image: url(../../assets/coverimage.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: pink;

}

.cataIntro p {
  font-size: 1.3rem;
  width: 60%;
  text-align: center;
  color: white;
  display: none;
}

.myproducts:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.add-to-cart-button{
    color: white;
    margin-top: 20px;
    background-color: palevioletred;
}

.products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 20px; 
    justify-content: center;
    margin: 10px 0;
}

.myproducts {
    flex: 1 1 calc(25% - 20px); 
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    max-width: 300px;
}


@media (max-width: 900px) {
  .myproducts {
    flex: 1 1 calc(50% - 40px); 
    max-width: calc(50% - 40px);
  }
}
.cartButt{
  color: palevioletred;
  border: 2px solid palevioletred;
}

@media (max-width: 600px) {
  .products {
    flex-direction: column;
    align-items: center;
  }
  .myproducts {
    flex: 1 1 100%;
    max-width: 100%;
  }
  .catalogue-container h1{
    font-size: 2rem;
    margin-bottom: 20px;
  }
}
